<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4.0 EJS</title>
</head>
<body>
    <h1> Todays is <%= display_day %>, <%= advice %></h1>
</body>
</html>